.table {
    margin-top: 30vh;
    text-align: center;
};

.botao{
    display: inline-block;
    width: 100%;
};

.edit:hover{
    color: green;
    transition: 1s;
    
};

.item{
    justify-content: center;
};